*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	// 取消tap高亮
	-webkit-tap-highlight-color:transparent;
}
ul,li{list-style: none;}
a{text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix::before,.clearfix::after{
	content: '';
	display: block;
	line-height: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	// 移动端
	zoom:1;
}
